/* You can add global styles to this file, and also import other style files */
:root {
    --principal:rgba(23, 232, 173, 1);
    --principal_oscuro:rgba(2, 103, 74, 0.9);
    --principal_contraste:rgba(110, 245, 209, 0.7);
    --color_texto:rgb(107, 107, 107);
    --fondo_verde:rgba(110, 245, 209, 0.7);
    --fondo_gris:rgba(200, 232, 223, 0.5);
    --texto_principal:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --texto_titulo:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  body{
    font-family: var(--texto_principal);
  }

  .fondo{
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding:1.5rem;
    min-height: 60vh;
    overflow:hidden;
}

.capa{
    background: var(--fondo_gris);
    padding: 2rem;
    border:1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    
}
.columna{
    min-width: 20vw;
    max-width: 30vw;
    align-self: center;
}
.msg-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  font-size: large;
  color: #dc3545;
}

.texto{ 
  color: rgb(107, 107, 107);
  font-family: var(--texto_titulo);
  font-size: x-large;
  font-weight: 400;
}

.tabset {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
}

.card__ {
  --font-color: #323232;
  --bg-color: #e0e0e0;
  height: 250px;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -5px 5px 10px #5a5a5a, 5px -5px 10px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
}

.card__:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  background-color: rgba(23, 232, 173, 1);
  position: relative;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__subtitle {
    color: var(--font-color);
    text-align: center;
    margin-bottom: 15px;
    font-weight: 900;
    font-size: 16px;
  }

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__descr {
  color: var(--font-color);
  font-size: 14px;
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}
