<div class="tabset container pt-3 pb-1 mt-5 shadow-lg">
  <ul class="tabset-nav">
    <li><a id="#tab1" class="active">Ingresar datos</a></li>
    <li><a id="#tab2">Elegir tipo de turno</a></li>
    <li><a id="#tab3">Generar turno</a></li>
  </ul>
  <div class="tabset-panels">
    <div id="tab1" class="tab-panel active">
      <form>
        <div class="mb-3">
          <label class="form-label">Tipo de documento</label>
          <select
            class="form-control"
            #tipo
            name="role"
            [(ngModel)]="selecionado"
          >
            <option value="" disabled selected>Elegir un tipo</option>
            <option *ngFor="let tipo of tipos" [value]="tipo">
              {{ tipo }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Numero de documento</label>
          <input
            type="text"
            class="form-control"
            #numeroDoc
            name="numeroDocu"
            [(ngModel)]="numeroDocumento"
          />
        </div>

        <button
          id="btnVerificar"
          type="submit"
          class="btn btn-primary"
          #bttnVerificar
          [disabled]="!tipo.value || !numeroDoc.value"
          (click)="verificar(bttnVerificar)"
        >
          Verificar
        </button>
      </form>
    </div>
    <div id="tab2" class="tab-panel row">
      <div class="card opcionTurno" id="A">
        <p>Turno tipo A</p>
      </div>
      <div class="card opcionTurno" id="B">
        <p>Turno tipo B</p>
      </div>
      <div class="card opcionTurno" id="C">
        <p>Turno tipo C</p>
      </div>
      <div class="card opcionTurno" id="D">
        <p>Turno tipo D</p>
      </div>
    </div>
    <div id="tab3" class="tab-panel row">
      <button
        class="btnGenerar"
        #btnGenerar
        [disabled]="progresoValor != 100"
        (click)="generarTurno(btnGenerar)"
      >
        Generar turno
      </button>
      <div class="card" *ngIf="progresoValor != 100">
        <p class="textoGenerar">
          Es necesario terminar los pasos anteriores para generar el turno.
        </p>
      </div>
      <div class="plan-card" *ngIf="turnoGenerado">
        <h3>Turno generado</h3>
        <div class="etiquet-price">
          <p>{{ turno.codigo }}</p>
          <div></div>
        </div>
        <div class="benefits-list">
          <ul>
            <li>
              <span>Estado: {{ turno.estado }}</span>
            </li>
            <li>
              <span
                >Fecha de generación:
                {{ turno.fecha | date : "dd/MM/yyyy HH:mm:ss" }}</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="progress mt-1" style="height: 0.7rem">
      <div
        class="progress-bar progress-bar-striped progress-bar-animated"
        role="progressbar"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
        [ngStyle]="{ width: barValue }"
      >
        {{ barValue }}
      </div>
    </div>
  </div>
</div>
