/* Estilos para el contenedor principal */
.tabset {
    border: 1px solid #ccc;
    border-radius: 5px;
    
    background-color: #eee;
  }
  
  /* Estilos para las pestañas */
  .tabset-nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .tabset-nav li {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .tabset-nav a {
    display: block;
    padding: 10px;
    background-color: rgba(23, 232, 173, 1);
    color: #333;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    font-weight: bold;
  }
  
  .tabset-nav a.active {
    background-color: rgba(110, 245, 209, 0.7);
    border-bottom: 1px solid #fff;
  }
  
  /* Estilos para los paneles de contenido */
  .tabset-panels {
    padding: 10px;
    background-color: rgba(200, 232, 223, 0.5);
    border-radius: 5px 5px 5px 5px;
  }
  
  .tab-panel {
    display: none;
    
  }
  
  .tab-panel.active {
    display: flex;
    min-height: 60vh;
    max-height: 68vh;
    justify-content: center;
    padding: 3rem;
  }
  